{% extends 'base.html.twig' %}

{% block title %}Nouveau Relevés{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Relevés</h1>

    {{ include('releves/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('app_releves_index') }}">liste</a>

    <style>
        .btn-success {
            margin-top: 10px;
        }
    </style>
{% endblock %}
