{% extends 'base.html.twig' %}

{% block title %}Lieu {% endblock %}

{% block body %}
    <h1>Lieu </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_lieu_show', {'id': lieu.id}) }}">voir</a>
                    <a class="btn btn-success" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_lieu_new') }}">Ajouter</a>
{% endblock %}
