{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_lieu_index') }}">Liste</a>

    <a class="btn btn-success" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">modifier</a>



    <style>
        .btn-primary{
            margin-bottom: 10px;
        }
        .btn-success{
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
